// Importing all fonts used
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,300&display=swap');


$primary: #FFF6F0;
$secondary: #4C5D63;
$tertiary: #87AE88;
$success: #87AE88;


$enable-shadows:true !default;

$box-shadow: 1px 4px 2px rgba(0,0,0,0.25);

@mixin barlow-condensed{
    font-family: 'Barlow Condensed', sans-serif;
}

@mixin barlow-semi-condensed{
    font-family: 'Barlow Semi Condensed', sans-serif;
}



// Navbar

.navbar{
    font-weight:400;
    font-size:0.8em;
    @include barlow-condensed;   
}


$navbar-dark-color:white;
$navbar-dark-hover-color: $tertiary;

.img-cropped{
    object-fit: cover;
}

$navbar-brand-padding-y: 1px;
$navbar-padding-x:30px;
$nav-link-font-size:2em;

// Body

.card-title{
    font-size: 50px;
    @include barlow-semi-condensed;
}

$card-border-width:0;

$btn-border-radius-lg:90px;
$btn-padding-y-lg:13px;
$btn-font-size-lg:23px;
$btn-font-family: 'Barlow Condensed', sans-serif;
$btn-font-weight:500;



$input-border-radius:90px;

$input-focus-border-color:$success;
$form-check-input-checked-color:$success;


.img-cropped{
    border-radius: 10px;
}

$display-font-family:'Barlow Condensed', sans-serif;
$display-font-weight:300;

$headings-font-family: 'Barlow Semi Condensed', sans-serif;

// Footer

.fs-2{
    @include barlow-condensed();
}

.fs-4{
    @include barlow-condensed();
}



$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 7),
  8: ($spacer * 9),
);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";




$custom-colors:(
    "villeorange": rgb(227,145,97),
    "darkertext": rgb(77,77,77,1)
);

$theme-colors: map-merge($theme-colors, $custom-colors);
// Creating more width utilities by merging the existing utilities with my own
$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
            map-get(map-get($utilities, "width"), "values"),
            (20:20%,
            15:15%,
            10:10%,
            5:5%),
            
        ),
      ), 
    ),
  ),
);    


@import "../node_modules/bootstrap/scss/bootstrap.scss";